<table>
  <thead>
    <tr>
      <th>Pealkiri</th>
      <th>Kuupäev</th>
      <th>Piirkond</th>
      <th>Klass</th>
      <th>Hind</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for slot <- @slots, slot.count_registrations == 0 do %>
    <tr>
      <td><p><%= slot.info.pealkiri %></p></td>
      <td><p><%= slot.info.kuupaev |> DateTime.to_date() |> Date.to_erl |> Tuple.to_list |> Enum.reverse |> Enum.join("-") %></p></td>
      <td><p><%= slot.info.piirkond %></p></td>
      <td><p><%= slot.info.klass %></p></td>
      <td><p><%= slot.info.hind %></p></td>
      <td><p><%= link "Lisainfo / Broneeri", to: Routes.slot_path(@conn, :show, slot) %></p></td>
    </tr>
<% end %>
  </tbody>
</table>
