<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Midagi läks valesti, loe veateateid väljade juurest.</p>
    </div>
  <% end %>

  <%= hidden_input f, :slot_id %>
  <%= error_tag f, :slot_id %>

  <%= inputs_for f, :info, fn i -> %>
    <%= for details <- config_fields() do %>
    <%= label i, details.key, details.label %>
      <%= case {details.type, details.key} do %>

        <% {:string, :osalejate_nimekiri} -> %>
          <%= textarea i, details.key %>

        <% {:string, _} -> %>
          <%= text_input i, details.key %>

        <% {:integer, _} -> %>
          <%= number_input i, details.key %>

        <% {:boolean, _} -> %>
          <%= checkbox i, details.key %>

      <% end %>
      <%= error_tag i, details.key %>
    <% end %>
  <% end %>

  <div>
    <%= submit "Salvesta" %>
  </div>
<% end %>
