<h1>Listing Slots registration</h1>

<table>
  <thead>
    <tr>
      <%= for {key, _value} <- extra_fields(), key != :id do %>
        <th><%= Phoenix.Naming.humanize key %></th>
      <% end %>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for slot_registration <- @slots_registration do %>
    <tr>
      <%= for {key, value} <- Map.from_struct(slot_registration.info || Ceiba.Core.SlotRegistrationInfo), key != :id do %>
        <td><p><%= value %></p></td>
      <% end %>

      <td>
        <%= link "Show", to: Routes.slot_registration_path(@conn, :show, slot_registration) %>
        <%= link "Edit", to: Routes.slot_registration_path(@conn, :edit, slot_registration) %>
        <%= link "Delete", to: Routes.slot_registration_path(@conn, :delete, slot_registration), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
