<h1>Õppekäigu registratsioon</h1>

<ul>

  <%= for {key, value} <- @slot_registration.info |> Map.from_struct, key != :id do %>
    <li>
      <strong><%= Phoenix.Naming.humanize key %></strong>
      <%= value %>
    </li>
  <% end %>

</ul>

<p><%= link "Muuda", to: Routes.slot_registration_path(@conn, :edit, @slot_registration) %></p>
<p><%= link "Tagasi õppekäigu lehele", to: Routes.slot_path(@conn, :show, @slot_registration.slot_id) %></p>
