
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <table class="long-input-table">

    <%= inputs_for f, :info, fn i -> %>
      <%= for details <- config_fields() do %>
        <tr>
          <td>
            <%= label i, details.key, details.label %>
          </td>
          <td>

            <%= case {details.type, details.key} do %>

              <% {:string, :piirkond} -> %>
                <%= select i, :piirkond, Application.get_env(:ceiba, Custom)[:estonia_regions] %>

              <% {:date, _} -> %>
                <%= date_select i, details.key, year: [options: 2019..2025] %>

              <% {:utc_datetime, _} -> %>
                <%= datetime_select i, details.key, year: [options: 2019..2025] %>

              <% {:string, _} -> %>
                <%= text_input i, details.key %>

              <% {:integer, _} -> %>
                <%= number_input i, details.key %>

              <% {:boolean, _} -> %>
                <%= checkbox i, details.key %>

            <% end %>
            <%= error_tag i, details.key %>
          </td>
        </tr>
      <% end %>
    <% end %>

  </table>
  <%= error_tag f, :info %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
