
<br/><br/>
<%= form_for @conn, "/slot", [method: :get, name: :filter_form], fn f -> %>
  <table id="filter-table">
    <tr>
      <td><p>Organisatsioon</p></td>
      <td><%= text_input f, :organisatsioon %></td>
    </tr>
    <tr>
      <td><%= submit "Filtreeri" %></td>
    </tr>
  </table>
<% end %>
<br/><br/><br/>
<h1>Kõik õppekäigud</h1>
<%= for {key, val} <- count_statuses(@slots) do %>
  <%= "#{key}: #{val}\n" %><br/>
<% end %>
<table class="full-width">
  <thead>
    <tr>
      <th>Staatus <span title="Staatus liigub järgnevalt: Uus -> Broneeritud -> Läbitud. Kui õppekäiku ei broneerita, on staatuseks Aegunud.">(?)</span></th>
      <%= for {key, _val} <- @fields, key != :__struct__, key != :id do %>
        <th><%=
          cond do
            Map.has_key?(get_single_slot(@slots).feedback["teacher"] || %{}, key) -> "Õpetaja: " <> key
            Map.has_key?(get_single_slot(@slots).feedback["student"] || %{}, key) -> "Õpilane: " <> key
            true -> key
          end
        %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for slot <- @slots do %>
        <tr>
          <td><%= get_status(slot) %></td>
          <%= for {key, _val} <- @fields, key != :__struct__, key != :id do %>
            <td><p><%= case Map.fetch(slot.info, key) do {:ok, val} -> val; :error -> 
              case Map.fetch(slot.feedback["teacher"] || %{}, key) do {:ok, val} -> val; :error -> 
                case Map.fetch(slot.feedback["student"] || %{}, key) do {:ok, val} -> val; :error -> "-" end 
              end 
             end %></p></td>
          <% end %>
          <td><p><%= link "Lisainfo", to: Routes.slot_path(@conn, :show_detailed, slot) %></p></td>
        </tr>
    <% end %>
  </tbody>
</table>
