<br/><br/><br/>

<h1><%= @slot.info.pealkiri %>
  <%= if count_registrations(@slot.id) == 0 do %>
  <a class="button float-right" href="/slot-registration/new?slot_id=<%= @slot.id %>">Broneeri</a>
  <% end %>
</h1>

<%= for details <- config_fields() do %>
  <p style="margin: 0;">
    <b><%= details.label_short %>:&nbsp;</b>
    <%= case details.type do %>
      <% :utc_datetime -> %>
        <%= Map.get(@slot.info, details.key) |> Timex.format("{D}-{0M}-{YYYY}") |> elem(1) %>
      <% _ -> %>
        <%= Map.get(@slot.info, details.key) %>
    <% end %>
  </p>
<% end %>
