<br/><br/><br/>

<h1><%= @slot.info.pealkiri %>
  <%= if count_registrations(@slot.id) == 0 do %>
  <a class="button float-right" href="/slot-registration/new?slot_id=<%= @slot.id %>">Broneeri</a>
  <% end %>
</h1>

<%= for details <- config_fields() do %>
  <strong><%= details.label %></strong>
  <%= case details.type do %>
    <% :utc_datetime -> %>
      <p><%= Map.get(@slot.info, details.key) |> Timex.format("{D}-{0M}-{YYYY}") |> elem(1) %></p>
    <% _ -> %>
      <p><%= Map.get(@slot.info, details.key) %></p>
  <% end %>
<% end %>

<br/><br/><br/><br/><br/>
<h1>Broneeringud</h1>

<ul>
  <%= for reg <- @registrations do %>
    <%= for {key, value} <- reg |> Map.from_struct,
        !Enum.member?([:id, :__meta__, :slot_id, :slot, :feedback], key)
    do %>
      <%= if key == :info do %>
        <%= for {sub_key, sub_value} <- value |> Map.from_struct, sub_key != :id do %>
          <li>
            <strong><%= Phoenix.Naming.humanize sub_key %></strong>
            <%= sub_value %>
          </li>
        <% end %>
      <% else %>
        <li>
          <strong><%= Phoenix.Naming.humanize key %></strong>
          <%= value %>
        </li>
      <% end %>
    <% end %>
    <br/>
    <p><%= link "Tagasiside link õpetajale", to: Routes.feedback_path(@conn, :new, %{reg_id: reg.id, r: "teacher"}) %></p>
    <p><%= link "Tagasiside link õpilasele", to: Routes.feedback_path(@conn, :new, %{reg_id: reg.id, r: "student"}) %></p>
  <% end %>
</ul>

<br/>
<h1>Tagasiside</h1>

<%= for fb <- @feedback do %>
  <div class="gridish">
    <h2><%= fb.role %></h2>

    <%= for {key, value} <- fb.info do %>
      <strong><%= CeibaWeb.ViewHelpers.key_to_question(
        Application.get_env(:ceiba, Custom)[:feedback_questions][fb.role],
        key,
        @slot.info.opieesmark
      ) %></strong>
      <p><%= value %></p>
    <% end %>
  </div>
<% end %>
