<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tagasi Kooli Õppekäigud</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><a href="/">Avaleht</a></li>
          </ul>
        </nav>
        <a href="/" class="phx-logo">
          <img src="/images/logo.png" alt="Tagasi kooli Logo"/>
        </a>
        <div class="float-right">
          <img src="/images/swedbank-logo2-107x33.png"/>
        </div>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
    <script>
      // This script will save all input values into memory so user
      // doesn't have to retype everything every time!
      (document.querySelectorAll('input, select, textarea')).forEach((i) => {
        if (!i.id) return
        if (i.closest("form").method === "get") return // don't save search form input

        // Save input value to memory
        i.onblur = function(e){
          localStorage.setItem(e.target.id, e.target.value)
        }

        // Get input values from memory
        var value = localStorage.getItem(i.id)
        if (value)
          i.value = value
      })
    </script>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </body>
</html>
