<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tagasi Kooli Õppekäigud</title>
  </head>
  <body>
    <style>
      body {
        font-family: Arial;
      }
      td {
        padding: 0 1rem;
      }
      td p {
        margin: 0.5rem 0
      }
      td:first-child {
        text-transform: capitalize;
      }
    </style>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </body>
</html>
