/* This file is for your main application css. */

@import "./phoenix.css";

td > p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
}

form[name="filter_form"] {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 3rem;
  display: inline-block;
}
form[name="filter_form"] > table {
  margin: 0;
}
form[name="filter_form"] td {
  padding: 0;
}
.long-input-table {
}
.long-input-table td {
  padding: 0;
}
.long-input-table td:nth-child(2) {
  width: 40%;
}
.data-block {
  display: inline-block;
  width: 49%;
  padding: 6rem 3rem 0 0;
  vertical-align: top;
}

.data-block > p {
  margin: 0;
}

.hidden {
  display: none;
}

.gridish {
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 3rem;
  margin: 1rem;
  box-shadow: 0px 2px 11px -4px rgba(0,0,0,0.67);
  vertical-align: top;
  max-width: calc(49% - 2rem);
}
.float-right {
  float: right;
}
.center {
  margin: 0 auto;
}