Tere!<br/>
<br/>

Anname teada, et alljärgnev väljapakutud õppekäigu aeg õpetajatele kahjuks ei sobinud. <br/>
<br/>

Õppekäigu info:<br/>
<%= for details <- slot_fields() do %>
  
    <b><%= details.label_short %>:</b>&nbsp;
    <%= case details.type do %>
      <% :utc_datetime -> %>
        <%= Map.get(@slot.info, details.key) |> Timex.format("{D}-{0M}-{YYYY}") |> elem(1) %>
      <% _ -> %>
        <%= Map.get(@slot.info, details.key) %>
    <% end %>
  <br/>
<% end %>
<br/>

Head soovides, <br/>
Tagasi Kooli meeskond<br/>
