Hea õpetaja!<br/>
<br/>

Meil on suur rõõm, et tulete meie juurde õppekäigule.<br/>
Kogu õppekäiguga seotud info leiate allpool.<br/>
<br/>

Palun edastage õpilastele link tagasiside küsimustikule, et nad saaksid õppekäigu järel oma nutitelefonist meile tagasisidet anda.<br/>
<%= link "Link õpilase tagasisidele", to: Routes.feedback_url(@conn, :new, %{reg_id: @slot_registration.id, r: "student"}) %><br/>
<br/>

Peale õppekäiku ootame lahkesti ka teie tagasisisdet. Nii saame õppekäike edasi arendada.<br/>
<%= link "Link õpetajate tagasisidele", to: Routes.feedback_url(@conn, :new, %{reg_id: @slot_registration.id, r: "teacher"}) %><br/>
<br/>

<%= for details <- slot_fields(), !Enum.member?([:maks_opilasi, :nimekiri_vajalik, :reg_sulgemine], details.key) do %>
    <b><%= details.label_short %>:</b>&nbsp;
    <%= case details.type do %>
      <% :utc_datetime -> %>
        <%= Map.get(@slot.info, details.key) |> Timex.format("{D}-{0M}-{YYYY}") |> elem(1) %>
      <% _ -> %>
        <%= Map.get(@slot.info, details.key) %>
    <% end %>
  <br/>
<% end %>

<br/>
Aitäh, et võimaldate õpilastele eripäraseid õppimisvõimalusi.<br/>
Sujuvat koostööd soovides,<br/>
Tagasi Kooli meeskond<br/>

<br/>
<i>Õppekäikude broneerimissüsteemi haldab Tagasi Kooli algatus, süsteemi loomist toetab Swedbank Eesti. Katseprojekti panustavad Eesti Ajaloomuuseum, Eesti Energia, Swedbank ja Eesti Rahvusraamatukogu.</i><br/>
