Tere!<br/>
<br/>

Õpetaja broneeris õppekäigu.<br/>
Kogu õppekäiguga seotud info leiate allpool.<br/>
<br/>

<%= for details <- registration_fields() do %>
  <strong><%= details.label %></strong>:&nbsp;
  <%= Map.get(@slot_registration.info, details.key) %><br/>
<% end %>
<br/>

<%= for details <- slot_fields() do %>
    <b><%= details.label_short %>:</b>&nbsp;
    <%= case details.type do %>
      <% :utc_datetime -> %>
        <%= Map.get(@slot.info, details.key) |> Timex.format("{D}-{0M}-{YYYY}") |> elem(1) %>
      <% _ -> %>
        <%= Map.get(@slot.info, details.key) %>
    <% end %>
  <br/>
<% end %>

<br/>

<%= link "Link õpilase tagasisidele", to: Routes.feedback_url(@conn, :new, %{reg_id: @slot_registration.id, r: "student"}) %><br/>
<br/>

<%= link "Link õpetajate tagasisidele", to: Routes.feedback_url(@conn, :new, %{reg_id: @slot_registration.id, r: "teacher"}) %><br/>
<br/>

Aitäh, et võimaldate õpilastele eripäraseid õppimisvõimalusi.<br/>
Sujuvat koostööd soovides,<br/>
Tagasi Kooli meeskond<br/>
