
<br/><br/>
<%= form_for @conn, "/", [method: :get, name: :filter_form], fn f -> %>
  <table id="filter-table">
    <tr>
      <td><p>Teema</p></td>
      <td><%= select f, :seotud_oppeained, ["Kõik õppekäigud"] ++ Application.get_env(:ceiba, Custom)[:subjects] %></td>
    </tr>
    <tr>
      <td><p>Piirkond</p></td>
      <td><%= select f, :piirkond, [nil] ++ Application.get_env(:ceiba, Custom)[:estonia_regions] %></td>
    </tr>
    <tr>
      <td><p>Algus</p></td>
      <td><%= date_select f, :alg, year: [options: 2019..2025], default: Date.utc_today() %></td>
    </tr>
    <tr>
      <td><p>Lõpp</p></td>
      <td><%= date_select f, :lopp, year: [options: 2019..2025], default: Date.utc_today() |> Date.add(240) %></td>
    </tr>
    <tr>
      <td><%= submit "Filtreeri" %></td>
    </tr>
  </table>
<% end %>
<br/><br/><br/>
<h1>Avatud õppekäigud <span><%= link "Lisa uus õppekäik", to: Routes.slot_path(@conn, :new), class: "button float-right" %></span></h1>


<table class="full-width">
  <thead>
    <tr>
      <th>Pealkiri</th>
      <th>Kuupäev</th>
      <th>Organisatsioon</th>
      <th>Piirkond</th>
      <th>Klass</th>
      <th>Hind</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for slot <- @slots, slot.count_registrations == 0 do %>
    <tr>
      <td><p><%= ((slot.info.pealkiri || " ") |> String.slice(0..0) |> String.capitalize()) <> ((slot.info.pealkiri || " ") |> String.slice(1..-1)) %></p></td>
      <td><p><%= slot.info.kuupaev |> DateTime.to_date() |> Date.to_erl |> Tuple.to_list |> Enum.reverse |> Enum.join("-") %></p></td>
      <td><p><%= slot.info.organisatsioon %></p></td>
      <td><p><%= slot.info.piirkond %></p></td>
      <td><p><%= slot.info.klass %></p></td>
      <td><p><%= slot.info.hind %></p></td>
      <td><p><%= link "Lisainfo / Broneeri", to: Routes.slot_path(@conn, :show, slot) %></p></td>
    </tr>
<% end %>
  </tbody>
</table>
