
<%= form_for @conn, Routes.feedback_path(@conn, :new), [id: "placeholder_form"], fn i -> %>
  <%= for details <- Application.get_env(:ceiba, Custom)[:feedback_questions][@role] do %>
    <%= label i, details.key, CeibaWeb.ViewHelpers.get_label(details, @slot.info.opieesmark) %>
      <div>
        <%= case details.type do %>
          <% :score5 -> %>
            <span>Ei nõustu üldse</span>
            <span>1 <%= radio_button i, details.key, 1 %></span>
            <span>2 <%= radio_button i, details.key, 2 %></span>
            <span>3 <%= radio_button i, details.key, 3 %></span>
            <span>4 <%= radio_button i, details.key, 4 %></span>
            <span>5 <%= radio_button i, details.key, 5 %></span>
            <span>Nõustun täielikult</span>
          <% :score5agree -> %>
            <span>Ei nõustu üldse</span>
            <span>1 <%= radio_button i, details.key, 1 %></span>
            <span>2 <%= radio_button i, details.key, 2 %></span>
            <span>3 <%= radio_button i, details.key, 3 %></span>
            <span>4 <%= radio_button i, details.key, 4 %></span>
            <span>5 <%= radio_button i, details.key, 5 %></span>
            <span>Nõustun täielikult</span>
          <% :score10 -> %>
            <span>Ei nõustu üldse</span>
            <span>1 <%= radio_button i, details.key, 1 %></span>
            <span>2 <%= radio_button i, details.key, 2 %></span>
            <span>3 <%= radio_button i, details.key, 3 %></span>
            <span>4 <%= radio_button i, details.key, 4 %></span>
            <span>5 <%= radio_button i, details.key, 6 %></span>
            <span>6 <%= radio_button i, details.key, 5 %></span>
            <span>7 <%= radio_button i, details.key, 7 %></span>
            <span>8 <%= radio_button i, details.key, 8 %></span>
            <span>9 <%= radio_button i, details.key, 9 %></span>
            <span>10 <%= radio_button i, details.key, 10 %></span>
            <span>Nõustun täielikult</span>

          <% :integer -> %>
            <%= number_input i, details.key %>

          <% :string -> %>
            <%= text_input i, details.key %>

          <% :boolean -> %>
            <%= checkbox i, details.key %>
        <% end %>
        <%= error_tag i, details.key %>
      </div>
      <br/>
      <br/>
  <% end %>
<% end %>



<%= form_for @changeset, @action, [id: "real_form"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors above.</p>
    </div>
  <% end %>

  <%= hidden_input f, :slot_registration_id %>
  <%= error_tag f, :slot_registration_id %>
  <%= hidden_input f, :info %>
  <%= error_tag f, :info %>
  <%= hidden_input f, :role %>
  <%= error_tag f, :role %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>

<script>
  // form to :info map
	function toJSONString( form ) {
		var obj = {};
		var elements = form.querySelectorAll('input:not([type="hidden"]):not([type="radio"]), input[type="radio"]:checked')
    console.log(elements)
		for( var i = 0; i < elements.length; ++i ) {
			var element = elements[i];
			var name = element.name;
			var value = element.value;

			if( name ) {
				obj[ name ] = value;
			}
		}

		return JSON.stringify( obj );
	}

	document.addEventListener( "DOMContentLoaded", function() {
		var form = document.getElementById( "placeholder_form" );
		var real_form = document.getElementById( "real_form" );
		form.addEventListener( "change", function( e ) {
			e.preventDefault();
			var json = toJSONString( this );
      console.log(json)
			document.querySelector('#feedback_info').value = json

		}, false);

	});

</script>