<h1>Listing Feedback</h1>

<table>
  <thead>
    <tr>
      <th>Info</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for feedback <- @feedback do %>
    <tr>
      <td><%= # feedback.info %></td>

      <td>
        <%= link "Show", to: Routes.feedback_path(@conn, :show, feedback) %>
        <%= link "Edit", to: Routes.feedback_path(@conn, :edit, feedback) %>
        <%= link "Delete", to: Routes.feedback_path(@conn, :delete, feedback), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Feedback", to: Routes.feedback_path(@conn, :new) %></span>
