<h1>Tagasiside</h1>


  <%= for {key, value} <- @feedback.info, key != :id do %>
      <strong><%= CeibaWeb.ViewHelpers.key_to_question(config_fields(@feedback.role), key, @slot.info.opieesmark) %></strong>
      <p><%= value %></p>
  <% end %>

<p><%= link "Tagasi õppekäigu juurde", to: Routes.slot_path(@conn, :show, @slot.id) %></p>
